* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
  background-color: #d2d2d2;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
main {
  width: 125%;
  max-width: 1200px;
  background-color: #fafafa;
  height: 500px;

}


header {
  width: 125%;
  height: 120px;
  background-color: #e246f7;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
header img {
  width: 200px;
  height: auto;
  
}

section {
  width: 125%;
  height: 600px;
  background-color: #cac6c6;}
  

section h2{
  font-family: sans-serif;
  font-size 3.5em;
  padding: 15px;
    width: 60%;

}

  input{
    background-color: #e8e8eb;
    border: none;
    padding: 15px;
    width: 65%;
    border-radius: 60px;
    justify-content: center;
    display: flex;
    margin: 0 auto;  
     }
     
button{
      background-color: #7f7c80;
      border: none;
      padding: 15px;
      width: 65%;
      border-radius: 60px;
      justify-content: center;
      display: flex;
     margin: 0 auto
    }

    
footer {
  width: 125%;
  height: 90px;
  background-color: #fc3cfc;
}
footer p {
  text-align: center;
  line-height: 90px;
  font-family: sans-serif;
  font-size: 1.1em;
  
  
}
footer p a {
  color: #0e0e0e;
  text-decoration: none;
  
  
}
footer p a:hover {
  color: #0004ff;
  
}
